#root {
  width: 850px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  margin-top: 3rem;
  text-align: right;
}

hr {
  border: 1px solid rgba(198, 167, 172, 0.125);
}

.btn-icn {
  display: flex;
  align-items: center;
}

.icon svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.tools {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

@media only screen and (max-width: 780px) {
  .tools {
    flex-direction: column;
    align-items: center;
  }
}
